body{
    margin: 0;
    padding:0;
    height: 100vh;
    color: #444;
    text-align: center;
    background: #f8f8f8;
    font-family: Montserrat;
}
.container{
    width: 75%;
    margin: auto;
}
.container .chart{
    width: 80%;
    margin: 0 auto;
}
.container .chart canvas{
    margin: 5% 0;
}