body{
    margin: 0;
    padding:0;
    height: 100vh;
    color: #444;
    background: #fff;
    text-align: center;
    font-family: Montserrat;
}
.container{
    width: 75%;
    margin: 55px auto;
}
.container .chart{
    width: 80%;
    margin: 0 auto;
}